@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    font-family: 'Protest Revolution', sans-serif;
    overflow: hidden;
}

/*scroll bar style*/
/* Hide the default scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.banner{
    width: 100vw;
    position: relative;
    top: 0;
    right: 0;
    height: 30vh;
    background-color: darkblue;
}

.alarmContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60vh;
    border: 1px solid #eee;
    box-shadow: 0 12px 24px rgba(0,0,0,.1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius:20px;
    padding: 1rem;
}

.alarmContainer > *:nth-child(1){
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #d5d2d2;
    position: relative;
}

.alarmContainer > *:nth-child(1) .copyIcon{
    position: fixed;
    right: 2rem;
    top: 1rem;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: .3rem;
}

.alarmContainer > *:nth-child(1) div.copied{
    color: #c4c0c0;
}

.alarmContainer .btns{
    width: 50%;
}

.alarmContainer div{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.alarmContainer h1{
    font-size: 5rem;
}

.alarmContainer div div{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: none;
    outline: none;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button.pause{
    font-size: 5rem;
    width: 120px;
    height: 120px;
}


button:hover{
    background-color: #333;
    color: #fff;
}


/*end-points style*/
.end_points{
    position: absolute;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 25vw;
    right: 0;
    background-color: #fff;
    z-index: 12;
    top: 0;
    bottom: 0;
    box-shadow: 0 4px 11px rgba(0,0,0,.2);
}

.historyContainer .header{
    display: flex;
    width: 100%;
    background-color: #eee;
    padding: .3rem;
    align-items: center;
    justify-content: space-around;
}

.records{
    display: flex;
    flex-direction: column;

}

.records > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .4rem 1rem;
    border-bottom: 1px solid #ddd;
    animation: animate 1s;
}


@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }

}

.records > div:hover{
    cursor: pointer;
    background-color: #eee;
}

.records > div > div{
    width:20px;
    height:20px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #ddd;
    padding: .4rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.records > div > div:hover{
    background-color: #333;
    color: #eee;
}